<div class="jumbotron">
  <div class="container">
    <h1>Hello music lover!</h1>
    <p>Ever needed a place where you could find all your favorite music?<br>Well look no further</p>
    <hr>
    <p><a class="btn btn-success btn-lg" href="#" role="button">Artists &raquo;</a></p>
  </div>
</div>
